include *.py
include LICENSE
include README.rst
include doc/Makefile
include doc/manual.pdf
recursive-include doc/html *
recursive-include doc/source *
recursive-include ncpol2sdpa *.py
recursive-include tests *.py
